@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

:root{
  --widthApp:60vw;
  --widthGrid:repeat(5, 1fr);
}

@media(max-width:1200px){
  :root{
    --widthApp:80vw;
    --widthGrid:repeat(4, 1fr);
  }
}

@media(max-width:900px){
  :root{
    --widthApp:90vw;
    --widthGrid:repeat(3, 1fr);
  }
}

@media(max-width:600px){
  :root{
    --widthApp:90vw;
    --widthGrid:repeat(2, 1fr);
  }
}

.main_app{
  width: var(--widthApp);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 100px 0;
}

.form_item-container{
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(223, 223, 223);
  display: flex;
}

.search_item{
  width: 100%;
  height: 50px;
  border-radius: 5px 0 0 5px;
  border: none;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.116); */
  background-color: rgba(63, 93, 126, 0.068);
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}

.search_ico{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background-color: rgba(63, 93, 126, 0.068);
  border-radius: 0 5px 5px 0;
  color: rgb(63, 93, 126);
}

.search_item::placeholder{
  color: rgb(63, 93, 126);
}

.search_item:focus::placeholder{
  color: rgb(185, 185, 185);
}

.table_itemlist{
  width: 100%;
}

.table_itemlist th{
  text-align: left;
  font-size: 18px;
  color: rgb(31, 31, 31);
}

.table_itemlist, th, td{
  /* border: 1px solid rgb(236, 236, 236); */
  border-collapse: collapse;
}

.table_itemlist th, td{
  padding: 15px;
}

.table_itemlist tr:nth-child(2n){
  background-color: rgba(63, 93, 126, 0.068);
}

.table_container{
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.116); */
  /* padding: 20px; */
  border-radius: 10px;
}


/*TYPELIST*/

.typeList{
  display: grid;
  grid-template-columns: var(--widthGrid);
  gap: 20px;
  list-style: none;
  margin-bottom: 40px;
}


.typeList-item-button{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgba(63, 93, 126, 0.068);
  color: rgb(63, 93, 126);
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
  font-size: 16px;
}

.typeList-item-button:hover{
  background-color: rgba(63, 93, 126, 0.733);
  color: white;
}

.type-title{
  margin-bottom: 20px;
  font-size: 25px;
  margin-left: 10px;
}

/*TYPELIST*/